1. get the library name, and ignore the virtual one, and only the path 
2. copy it from bin to our bin located in .dotfiles
3. copy the lib, and the binary. to the lib/ and bin/ respectively
4. list the next files:
File and Directory Management

ls – list files

cd – change directory

pwd – show current directory

cp – copy files

mv – move/rename files

rm – delete files (careful!)

mkdir / rmdir – create/remove directories

File Inspection

cat, less, more – view file contents

head / tail – view beginning or end of files

file – check file type

stat – detailed info about files

find – search for files

grep – search inside files

Package Management (depends on distro)

Debian/Ubuntu: apt, dpkg

RHEL/CentOS: yum, dnf, rpm

Arch: pacman

System and Process

mount / umount – mount filesystems (you may need for /proc, /sys, /dev)

ps – list processes

top / htop – monitor processes

kill – stop a process

Network Tools

ping – test connectivity

ifconfig / ip – check network interfaces

wget / curl – download files

Permissions and Ownership

chmod – change permissions

chown – change owner

chgrp – change group

Shell Utilities

ln – create symlinks

tar / gzip / bzip2 / xz – archive and compress files

echo – print text

export – set environment variables

env – show environment variables

2) hash the input list on a txt, and run a sha256sum

3) network namespaces script 

4) systemd-nspawn scripts.
